<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zcc.albumlibrary">

    <application android:theme="@style/AppTheme">
        <provider
            android:name="com.zcc.albumlibrary.album.PictureFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>

